.header {
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-left: 36px;
}

.header a:hover {
    color: orange;
}

.logoutbtn {
    color: white;
    font-size: 17px;
    margin-left: 30px;
    background-color: black;
}

.logoutbtn:hover {
    color: orange;
    cursor: pointer;
}